@page "/fetchdata"
@using Lektion19Dist.Classes;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Customers)
        {
            foreach (var purch in cust.Purchases)
            {
                <tr>
                    <td>@cust.Name</td>
                    <td>@purch.Title</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    List<Customer> Customers { get; set; } = new();

    class Customer
    {
        public string Name { get; set; }

        public List<Book> Purchases { get; init; } = new();

        public void Add(Book book) => Purchases.Add(book);
    }

    protected override void OnInitialized()
    {
        var cust1 = new Customer() { Name = "John" };
        cust1.Add(new Book(1, "Title 1"));
        cust1.Add(new Book(2, "Title 2"));
        var cust2 = new Customer() { Name = "Jane" };
        cust2.Add(new Book(3, "Title 3"));

        Customers.Add(cust1);
        Customers.Add(cust2);
    }

}
